body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: 8px;
  /* display: flex; */
  /* flex-direction: column; */
}
/* header {
    position: sticky;
  } */

.main_bar {
  background: linear-gradient(
      to right,
      rgb(15, 14, 14) 20%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 20vh;
  position: relative;
  /* font-size: 1rem; */
  display: grid;

  /* justify-items: center; */
  /* align-items: center; */
}
#main_logo {
  font-size: 3.5em;
  justify-self: self-start;
  margin-left: 4%;
}
#main_logo .text {
  color: #f42c04;
  cursor: pointer;
}
.shopping_bttn {
  position: absolute;
  top: 5%;
  right: 3%;
  margin: 10px;
  width: auto;
  height: auto;
}
.shopping_bttn img {
  height: 70px;
  border-radius: 40px;
}
.nav_bar {
  position: absolute;
  top: 45%;
  width: 50vw;
  display: flex;
  justify-content: space-evenly;
  /* padding: 5px; */
  font-size: 2em;
}

.nav_bttn {
  /* border-radius: 3px; */
  color: aliceblue;
  /* background-color: lightgreen; */
  margin: 10px 0px;
  padding: 10px 10px;
  text-decoration: none;
}
.nav_bttn:hover {
  background-color: rgb(211, 54, 54);
}
.main_bar_link_pedidos {
  position: absolute;
  display: flex;
  top: 50%;
  left: 3%;
  width: 35%;
  justify-content: space-around;
  align-items: center;
}
.main_bar_link_pedidos .main_text {
  color: azure;
  font-size: 4em;
}
.main_bar_link_pedidos .main_bar_bttn_pedidos {
  /* margin-left: 4%; */
  font-size: 3em;
  text-align: center;
  border-radius: 15px;
  padding: 10px 15px;
  color: aliceblue;
  background-color: #ec9f05;
}
main {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-grow: 1; */
}

.pedidos {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* font-size: 10px; */
}
.pedidos .main_title {
  /* width: 100%; */
  word-wrap: break-word;
  /* height: 10%; */
  text-align: center;
}
.main_title .main_text {
  font-size: 2.5rem;
}
#menu_carusell {
  width: 80vw;
  height: 60vh;
  position: relative;
  /* display: flex; */
  /* align-items: center; */
  /* font-size: 10px; */
}
[class^="tarjeta_"] {
  /* cursor: pointer; */
  height: auto;
  position: absolute;
  top: 22%;
  border-radius: 15px;
  transition: 0.7s ease;
}
[class^="tarjeta_"] .nombre {
  word-wrap: break-word;
}
[class^="tarjeta_"] .imagen {
  width: 250px;
  height: auto;
  max-height: 250px;
}

.tarjeta_cen {
  background-color: lightblue;
  text-align: center;
  transform: translateX(34vw) scale(1.6);
  z-index: 2;
}

.tarjeta_izq {
  text-align: center;
  transform: translateX(10vw);
  filter: blur(2.5px);
  cursor: pointer;
  z-index: 1;
}
.tarjeta_der {
  text-align: center;
  transform: translateX(57vw);
  filter: blur(2.5px);
  cursor: pointer;
  z-index: 1;
}
.tarjeta_aux_izq {
  transform: scale(0.6) translateX(7vw);
  visibility: hidden;
  opacity: 0;
  z-index: 0;
}
.tarjeta_aux_izq .imagen {
  width: 50px;
}
.tarjeta_aux_der {
  transform: scale(0.6) translateX(110vw);
  opacity: 0;
  visibility: hidden;
  z-index: 0;
}
.tarjeta_aux_der .imagen {
  width: 50px;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.network_info::after {
  content: " aqui se uso ::after";
  color: red;
}
#izquierda {
  position: absolute;
  top: 50%;
  left: -5%;
  width: 3rem;
  height: auto;
  background-color: rgb(90, 236, 90);
  cursor: pointer;
}
#derecha {
  position: absolute;
  top: 50%;
  right: -5%;
  width: 3rem;
  height: auto;
  background-color: rgb(90, 236, 90);
  cursor: pointer;
}

.information_cards {
  width: 80vw;
}

.information_cards .card {
  font-size: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#resumen_negocio {
  background-color: aquamarine;
}
footer {
  font-size: 2em;
  display: flex;
  flex-direction: row;
}
.footer_box {
  width: 33%;
  height: auto;
  text-align: center;
  margin-bottom: 5px;
}
.footer_box .network_info {
  margin-top: 1px;
  margin-bottom: 1px;
}
@media (max-width: 1800px) {
  #main_logo {
    font-size: 3em;
  }
  .main_bar_link_pedidos {
    top: 55%;
    width: 45%;
    left: 3%;
  }
  [class^="tarjeta_"] .imagen {
    width: 200px;
    height: auto;
    max-height: 200px;
  }
}

@media (max-width: 1400px) {
  .nav_bar {
    top: 32%;
    width: 60%;
  }
  .main_bar_link_pedidos {
    top: 58%;
    width: 40%;
    left: 3%;
  }
  .main_bar_link_pedidos .main_text {
    font-size: 3em;
  }
  .main_bar_link_pedidos .main_bar_bttn_pedidos {
    font-size: 2em;
  }
  [class^="tarjeta_"] .imagen {
    width: 170px;
    height: auto;
    max-height: 170px;
  }
  #menu_carusell {
    height: 65vh;
  }
}

@media (max-width: 600px) {
  .main_bar {
    width: 100vw;
    height: 20vh;
    background-color: blueviolet;
    font-size: 10px;
  }
  #main_logo {
    font-size: 2em;
  }
  .shopping_bttn {
    right: 0.1%;
    /* margin: 1.3rem; */
    /* width: 3.3rem; */
  }
  .shopping_bttn img {
    height: 50px;
  }
  .nav_bar {
    width: 80%;
    top: 40%;
    left: 5%;
    justify-content: space-evenly;
  }
  .nav_bttn {
    border-radius: 8px;
    font-size: 9px;
    margin: 0px 0px;
    padding: 10px 15px;
  }
  .main_bar_link_pedidos {
    left: 9%;
    width: 50%;
    font-size: 0.7em;
  }
  main {
    /* flex-grow: unset; */
    height: 100vh;
    overflow-x: hidden;
  }
  .pedidos {
    height: 70%;
  }

  [class^="tarjeta_"] {
    /* font-size: ; */
    top: 7%;
  }
  [class^="tarjeta_"] .imagen {
    width: 250px;
    max-height: 250px;
  }

  .tarjeta_cen {
    background-color: rgb(255, 64, 245);
    /* text-align: center; */
    transform: scale(1.1) translateX(13vw);
    /* top: 25%; */
  }
  .tarjeta_izq {
    z-index: 0;
    filter: blur(2px);
    transform: translateX(0.5vw);
  }
  .tarjeta_der {
    z-index: 0;
    filter: blur(2px);
    transform: translateX(30vw);
  }
  .tarjeta_aux_izq {
    transform: translateX(-25vw);
  }
  .tarjeta_aux_der {
    transform: translateX(110vw);
  }
  .information_cards .card {
    font-size: 1.25em;
  }
  .information_cards .card .main_page_img_card {
    width: 160px;
  }
  footer {
    justify-content: center;
  }
  footer > div {
    display: inline-block;
  }
}
