body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: 8px;
  /* display: flex; */
  /* flex-direction: column; */
}
/* header {
      position: sticky;
    } */

.main_bar {
  background: linear-gradient(
      to right,
      rgb(15, 14, 14) 20%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 35vh;
  position: relative;
  /* font-size: 1rem; */
  display: grid;

  /* justify-items: center; */
  /* align-items: center; */
}
#main_logo {
  font-size: 3.5em;
  justify-self: self-start;
  margin-left: 4%;
}
#main_logo .text {
  color: #f42c04;
  cursor: pointer;
}
.shopping_bttn {
  position: absolute;
  top: 5%;
  right: 3%;
  margin: 10px;
  width: auto;
  height: auto;
}
.shopping_bttn img {
  height: 70px;
  border-radius: 40px;
}
.nav_bar {
  position: absolute;
  top: 25%;
  width: 50vw;
  display: flex;
  justify-content: space-evenly;
  /* padding: 5px; */
  font-size: 2em;
}

.nav_bttn {
  /* border-radius: 3px; */
  color: aliceblue;
  /* background-color: lightgreen; */
  margin: 10px 0px;
  padding: 10px 10px;
  text-decoration: none;
}
.nav_bttn:hover {
  background-color: rgb(211, 54, 54);
}
main {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information_cards {
  width: 80vw;
}

.information_cards .card {
  font-size: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#resumen_negocio {
  background-color: aquamarine;
}

@media (max-width: 1800px) {
  #main_logo {
    font-size: 3em;
  }
  .main_bar_link_pedidos {
    top: 55%;
    width: 40%;
    left: 3%;
  }
}
@media (max-width: 1400px) {
  .nav_bar {
    top: 32%;
    width: 60%;
  }
  .main_bar_link_pedidos {
    top: 58%;
    width: 40%;
    left: 3%;
  }
  .main_bar_link_pedidos .main_text {
    font-size: 3em;
  }
  .main_bar_link_pedidos .main_bar_bttn_pedidos {
    font-size: 2em;
  }
  [class^="tarjeta_"] .imagen {
    width: 170px;
    height: auto;
    max-height: 170px;
  }
}

@media (max-width: 600px) {
  .main_bar {
    width: 100vw;
    height: 20vh;
    background-color: blueviolet;
    font-size: 10px;
  }
  #main_logo {
    font-size: 2em;
  }
  .shopping_bttn {
    right: 0.1%;
    /* margin: 1.3rem; */
    /* width: 3.3rem; */
  }
  .shopping_bttn img {
    height: 50px;
  }
  .nav_bar {
    width: 80%;
    top: 40%;
    left: 5%;
    justify-content: space-evenly;
  }
  .nav_bttn {
    border-radius: 8px;
    font-size: 9px;
    margin: 0px 0px;
    padding: 10px 15px;
  }
}
