body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: 8px;
}

.main_bar {
  background: linear-gradient(
      to right,
      rgb(15, 14, 14) 20%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 35vh;
  position: relative;
  /* font-size: 1rem; */
  display: grid;

  /* justify-items: center; */
  /* align-items: center; */
}
#main_logo {
  font-size: 3.5em;
  justify-self: self-start;
  margin-left: 4%;
}
#main_logo .text {
  color: #f42c04;
  cursor: pointer;
}
.shopping_bttn {
  position: absolute;
  top: 5%;
  right: 3%;
  margin: 10px;
  width: auto;
  height: auto;
}
.shopping_bttn img {
  height: 55px;
  border-radius: 40px;
}
.nav_bar {
  position: absolute;
  top: 25%;
  width: 50vw;
  display: flex;
  justify-content: space-evenly;
  /* padding: 5px; */
  font-size: 2em;
}

.nav_bttn {
  /* border-radius: 3px; */
  color: aliceblue;
  /* background-color: lightgreen; */
  margin: 10px 0px;
  padding: 10px 10px;
  text-decoration: none;
}
.nav_bttn:hover {
  background-color: rgb(211, 54, 54);
}
.main_bar_link_pedidos {
  position: absolute;
  display: flex;
  top: 50%;
  left: 2%;
  width: 35%;
  justify-content: space-around;
  align-items: center;
}
.main_bar_link_pedidos .main_text {
  color: azure;
  font-size: 4em;
}
.main_bar_link_pedidos .main_bar_bttn_pedidos {
  /* margin-left: 4%; */
  font-size: 3em;
  text-align: center;
  border-radius: 13px;
  padding: 10px 15px;
  color: aliceblue;
  background-color: #ec9f05;
}
main {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-grow: 1; */
}
.main_slide_container {
  height: 550px;
  width: 70vw;
  position: relative;
  margin: 2% 1%;
  /* background-color: #ec9f05; */
  overflow: hidden;
}
.main_slide_container .main_img_container {
  position: absolute;
  top: 0%;
  width: 100%;
  /* left: 0%; */
}
.main_img_container #slider_img {
  height: auto;
  width: 100%;
  /* max-width: 100%; */
}
#text_over_img .over_text {
  position: relative;
  left: 1%;
  /* font-size: 2em; */

  color: aliceblue;
  z-index: 2;
}
#over_name {
  font-size: 3.5em;
  margin: 0px;
}
#over_description {
  font-size: 2.3em;
  margin: 0px;
}

#text_over_img #over_color {
  position: absolute;
  top: 0%;
  height: 30%;
  width: 85%;
  background-color: black;
  background: linear-gradient(
    to right,
    rgb(15, 14, 14) 10%,
    rgba(0, 0, 0, 0) 100%
  );
  /* filter: blur(3px) opacity(0.5); */
  z-index: 1;
  border-radius: 5px;
}
.dot_nav {
  height: 35px;
  width: 100%;
  background-color: black;
  filter: opacity(60%);
  position: absolute;
  display: flex;
  /* flex-direction: row; */
  /* justify-content: space-evenly; */
  bottom: 0%;
  z-index: 2;
  border-radius: 7px;
}
.dot_container {
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  position: absolute;
  left: 35%;
  height: auto;
  width: 35%;
}
/* .individual_dot_container {
  background-color: #f42c04;
  height: 30px;
  width: 30px;
} */
.dot {
  background-color: aliceblue;
  /* position: relative; */
  height: 10px;
  width: 10px;
  border-radius: 5px;
  transition: all 0.3s;
}
.dot::before {
  content: "";
  position: relative;
  left: -15px;
  padding: 20px;
  background: transparent;
}

.dot:hover {
  /* background-color: #f42c04; */
  height: 15px;
  transition: all 0.3s;
}
#dot_alter {
  background-color: #f42c04;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
/* .network_info::after {
  content: " aqui se uso ::after";
  color: red;
} */

footer {
  font-size: 2em;
  display: flex;
  /* flex-direction: row; */
  background-color: rgb(170, 170, 170);
  /* align-content: space-evenly; */
  height: 250px;
  /* align-items: center; */
}
#footer_boxes {
  display: flex;
  flex-direction: row;
  /* align-content: space-evenly; */
  flex-grow: 1;
  margin-top: 1%;
}
.footer_box {
  width: 33%;
  height: auto;
  text-align: center;
  margin-bottom: 5px;
}
.footer_box .network_info {
  margin-top: 1px;
  margin-bottom: 1px;
}
#logo_foot_container {
  margin-top: 2%;
  margin-left: 1%;
}
@media (max-width: 1800px) {
  #main_logo {
    font-size: 3em;
  }
  .main_bar_link_pedidos {
    top: 55%;
    width: 45%;
    left: 3%;
  }
}

@media (max-width: 1700px) {
  .nav_bar {
    top: 32%;
    width: 60%;
  }
  .shopping_bttn img {
    height: 55px;
  }
  .main_bar_link_pedidos {
    top: 58%;
    width: 40%;
    left: 3%;
  }
  .main_bar_link_pedidos {
    width: 40%;
  }
  .main_bar_link_pedidos .main_text {
    font-size: 3.4em;
  }
  .main_bar_link_pedidos .main_bar_bttn_pedidos {
    font-size: 2.5em;
  }
}

@media (max-width: 600px) {
  .main_bar {
    width: 100vw;
    height: 20vh;
    background-color: blueviolet;
    font-size: 10px;
  }
  #main_logo {
    font-size: 2em;
  }
  .shopping_bttn {
    right: 0.1%;
    /* margin: 1.3rem; */
    /* width: 3.3rem; */
  }
  .shopping_bttn img {
    height: 50px;
  }
  .nav_bar {
    width: 80%;
    top: 40%;
    left: 5%;
    justify-content: space-evenly;
  }
  .nav_bttn {
    border-radius: 8px;
    font-size: 9px;
    margin: 0px 0px;
    padding: 10px 15px;
  }
  .main_bar_link_pedidos .main_text {
    font-size: 2.3em;
  }
  .main_bar_link_pedidos {
    left: 7%;
    width: 65%;
    font-size: 0.7em;
  }
  main {
    /* flex-grow: unset; */
    height: 100vh;
    overflow-x: hidden;
  }
  footer {
    justify-content: center;
  }
  footer > div {
    display: inline-block;
  }
}
